*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

html {
    font-size: 62.5%; // 10/16px = 62.5 -> 1rem === 10px
}

body {
    box-sizing: border-box;
    background-color: $color-off-white;
    width: 100vw;
    height: 100%;
}